name: Check Migration Order

on:
  push:
    branches: [dev ,master]
    paths:
      - 'Migrations/**'
  pull_request:
    paths:
      - 'Migrations/**'

jobs:
  check-order:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check migration order
        run: |
          cd Migrations
          files_sorted=$(ls | sort)
          files_actual=$(ls)
          if [ "$files_sorted" != "$files_actual" ]; then
            echo "Migration files are not in order!"
            echo "Expected order:"
            echo "$files_sorted"
            echo "Actual order:"
            echo "$files_actual"
            exit 1
          fi